html(lang='en')

block config
    -
        const config = {
            site_name: 'cuttinscrap.com',
            title: "Let's Start Cuttin Scrap",
            description: "When crafting from the heart, perfection is not the main goal. Here at Cuttin Scrap I push towards having fun and using what you have around the house. These projects are not meant for Muffy McPerfect Pants, but for the everyday crafter. I, Rhiannon Walker, fight Atypical Carcinoid Cancer of the lungs everyday, and use crafting as my way to let loose. Come on a journey with me, where the road is never straigh",
            image: "http://www.cuttinscrap.com/static/img/logo/cuttin%20scrap%20final%20white.jpg",
            url: "http://www.cuttinscrap.com",
            card: "summary",
            fb_app_id: 'NA',
            twitter:'@cuttinscrap',
            time: "",
            author: "Rhiannon Walker",
            disqus:false,
            blog: 0,
            project: 0
        };
    -

head
    block head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='p:domain_verify' content='56f808442edb403cb993e5d0da778344')
        link(rel='icon', type='image/png' href='/static/img/scissors.png')

        meta(property='og:site_name' content=site_name)
        meta(property='og:title' content=config.title)
        meta(property='og:description' content=config.description)
        meta(property='og:image' content=config.image)
        meta(property='og:url' content=config.url)
        meta(property='og:published_time' content=config.time)
        meta(property='og:author' content=config.author)
        meta(name='twitter:card' content=config.card)
        meta(property='fb:app_id' content=config.fb_app_id)
        meta(name='twitter:site' content=config.twitter)

        if config.blog
            meta(name='blog:n' content=config.blog)
        if config.project
            meta(name='project:n' content=config.project)

        title CuttinScrap

        link(rel='stylesheet' href='/static/css/main.css')
        include gtag.html
        script(src="/static/js/nav.js")
        if config.blog 
            script(src="/static/js/blog.js")
        if config.project
            script(src="/static/js/blog.js")

block body
    body

        #hero
            include ../layout/logo
            //- include ../layout/socials
            include ../layout/navigation
            
        div#content
            if config.blog
                include blog_intro
            if config.project
                include project_intro

            block content

            if config.blog
                #blog-promo
                    //- h3 Check out our other blog posts 
                    #next.card.hide
                    #prev.card.hide
            if config.project
                #blog-promo
                    //- h3 Check out our other projects
                    #next.card.hide
                    #prev.card.hide

            #instagram.card
                h1 #[a(href='https://www.instagram.com/cuttin.scrap/') #[i.fa.fa-instagram(aria-hidden='true')] #[span(style='font-size:1rem;vertical-align:middle;') |] CuttinScrap]
                p
                    em 
                #instafeed 
            
            //- include ../pages/youtube.html

        div#disqus
            if config.disqus
                include ../layout/disqus
                
        block footer
            include ../layout/footer
    

block script

    if config.blog
        script.
            document.addEventListener("DOMContentLoaded", function () {
                blog = new Blog()
                blog.promo(blog.next_url, '#next')
                blog.promo(blog.prev_url, '#prev')
            })

    if config.project
        script.
            document.addEventListener("DOMContentLoaded", function () {
                blog = new Blog()
                blog.promo(blog.next_url, '#next')
                blog.promo(blog.prev_url, '#prev')
            })